<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type"text/css" href="/css/main.css">

    </head>
    
    <body>
        <nav>
            <ul>
                <header><div class="headIn">Chi Thanh Le</div></header>
                <li><a href="https://tle2001.github.io/blog/">Project</a></li>
                <li><a href="https://tle2001.github.io/">About</a></li>
            </ul>
        </nav>
        {{ page.title }}
        <div class="container">
            <div class="blurb">

                {{ content }}

            </div><!--/.container-->
        </div>
    </body>

    <footer>
        Contact me:
        <br><a href="https://github.com/tle2001">Github</a>
        <br><a href="https://www.linkedin.com/in/chi-thanh-le-bb9642194/">Linkedin</a>
    </footer>
</html>